---
layout: default
---

<div class="wrapper">
  <div class="row row--full">

    <div class="column column--center medium-12 large-12">
      <div class="grey-bg CoverImage FlexEmbed FlexEmbed--2by1" style="background-image: url({{ page.image }})"></div>
    </div>

    <div class="column column--center medium-12 large-10">
      <article class="post">
        <header class="post__header">
          <h2 class="post__title">{{ page.title }}</h2>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

        <div class="post-content">
          <a href="http://nicholasjackson.github.io" class="links">
            <div class="icon icon--ei-link icon--s "><svg class="icon__cnt"><use xlink:href="#ei-link-icon"></use></svg></div>
            http://nicholasjackson.github.io
          </a>
          <br/>
        
          <a href="http://www.twitter.com/sheriffjackson" class="links" target="_blank">
            <div class="icon icon--ei-sc-twitter icon--s "><svg class="icon__cnt"><use xlink:href="#ei-sc-twitter-icon"></use></svg></div>
            @sheriffjackson
          </a>
          <br/>
        
        
          <a href="http://www.github.com/nicholasjackson" class="links" target="_blank">
            <div class="icon icon--ei-sc-github icon--s "><svg class="icon__cnt"><use xlink:href="#ei-sc-github-icon"></use></svg></div>
            http://www.github.com/nicholasjackson
          </a>
          <br/>
        
        
          <a href="mailto:jackson.nic@gmail.com" class="links" target="_blank">
            <div class="icon icon--ei-envelope icon--s "><svg class="icon__cnt"><use xlink:href="#ei-envelope-icon"></use></svg></div>
            jackson.nic@gmail.com
          </a>
        </div>
      </article>
    </div>

  </div> <!-- row-->
</div> <!-- wrapper -->