---
layout: default
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

<div class="wrapper">
  <div class="row row--full">

    <div class="column column--center medium-12 large-12">
      <div class="grey-bg CoverImage FlexEmbed FlexEmbed--16by9" style="background-image: url({{ page.image }})"></div>
    </div>

    <div class="column column--center medium-12 large-10">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        {% if page.image %}
          <meta itemprop="og:image" content="{{ base_path }}{{ page.image }}">
        {% endif %}

        <header class="post__header">
          <h2 class="post__title" itemprop="name headline">{{ page.title }}</h2>
          <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>

        <hr>

        {% if page.author %}
          {% include author.html %}
        {% endif %}

        {% include share.html %}

        {% include subscribe-form.html %}

        {% include disqus.html %}
      </article>
    </div>

  </div> <!-- row-->
</div> <!-- wrapper -->